<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boycy815.pinchimageviewexample" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".IndexActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".withviewpager.PagerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".zoomtransition.ThumbViewActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".zoomtransition.PicViewActivity"
            android:label="@string/app_name"
            android:theme="@style/pic_view">
        </activity>
        <activity
            android:name=".huge.HugeActivity"
            android:label="@string/app_name">
        </activity>
    </application>
</manifest>